<div class="t-center">
  <h1>Welcome Back</h1>
</div>

<%= render partial: 'form' %>

<p class="sep">or</p>

<div class="flex btn-bg">
  <%= link_to 'REGISTER', new_user_path, :class => "btn btn-bg" %>
</div>
