/.vscode
/.bundle

# logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# master key
/config/master.key
