<div class="flex space-between">
  <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe,
    user_path(current_user.id) %>
  <h1>GROUPS</h1>
  <%= link_to '<span class="material-icons">power_settings_new</span>'.html_safe,
    new_session_path, method: :delete %>
</div>

<%= groups_list(@groups) %>

<div class="flex btn-bg">
  <%= link_to 'CREATE NEW', new_group_path, :class => "btn" %>
</div>
