<div class="flex space-between">
  <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe,
    groups_path %>
  <h1>NEW GROUP</h1>
  <%= link_to '<span class="material-icons">power_settings_new</span>'.html_safe,
    new_session_path, method: :delete %>
</div>

<%= render partial: "new_group" %>
