<div class="sep">
  <h1>Welcome to Wallet</h1>
</div>

<div class="flex btn-bg">
  <%= link_to 'LOGIN', new_session_path, :class => 'btn' %>
</div>

<p class="sep">OR</p>

<div class="flex btn-bg">
  <%= link_to 'REGISTER', new_user_path, :class => 'btn' %>
</div>
