<div class="flex space-between">
  <%= link_to '<span class="material-icons">arrow_back</span>'.html_safe, transactions_path %>
  <h1>NEW USER</h1><span></span>
</div>

<%= render partial: "new_user" %>
