PROFILE
<h1><%= current_user.name %></h1>

<%= link_to 'All my transactions', transactions_path %><br>
<%= link_to 'All my external transactions', external_path %><br>
<%= link_to 'Group', groups_path %>
