PROFILE
<%= current_username %>

<ul>
  <li><%= link_to 'All my transactions', transactions_path %><br></li>
  <li><%= link_to 'All my external transactions', external_path %><br></li>
  <li><%= link_to 'Group', groups_path %></li>
</ul>