/*
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.flex { display: flex; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
.t-center { text-align: center; }
.float { float: left; }
.dir-col { flex-direction: column }
