/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* START */
.flex { display: flex; }
.space-between { justify-content: space-between; }
.align-center { align-items: center; }
.t-center {text-align: center; }

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  background: #3778c2;
  background: linear-gradient(15deg, rgba(55,120,194,1) 75%, rgba(51,51,51,1) 98%);
  background-repeat: no-repeat;
}

.container {
  max-width: 280px;
  min-height: 100vh;
  margin: 5px auto;
}

.float { float: left; }

li { 
  list-style-type: none !important;
  padding: 20px 0;
}

a { text-decoration: none !important; }

h1 { 
  margin-bottom: 30px;
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
  color: lightgrey;
}

.board {
  padding: 15px 10px;
  color: #434b54;
  background: #fff;
}

.board p {
  color: #434b54;
  font-weight: 700;
}

.list {
  padding: 10px;
  background: #f1f3f2;
}

.list-item {
  margin-bottom: 10px;
  padding: 0 5px;
  color: #333;
  background: #fff;
}

.dark-text { color: #434b54; }
.t-bold { font-weight: 700; }

.btn {
  margin: 10px auto;
  padding: 15px 32px;
  font-size: 16px;

  border: solid 2px #fff;
  border-radius: 3px;
  color: #fff;
}

.btn-bg { background-color: #5fb523; }

.alert {
  text-align: center;
  max-width: 300px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #943535;
}

.icon {
  width: 60px;
  margin-right: 10px;
}

hr {
  color: #f1f3f2;
  margin: 10px 0;
}

input, select, textarea {
  color: #333;
  margin-bottom: 10px;
}
